*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-image: url(./img/vecteezy_dog-paw-seamless-pattern-vector-bone-french-bulldog_8651793.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
#head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
    position: absolute;
    transform: translate(237%, 61%);
    color: #5827df;
    background-color: rgb(94 255 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    }
section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-image: url(./pink-blue-floral-bouquet-with-watercolor_65186-3066.avif); */
    /* background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-size: cover; */ 
    
}
form{
   border: 1px solid black;
   width: 40%;
   padding: 2rem;
   margin-top: 2rem;
   background-image: url(./img/boy-8233868_640.png);
   border-radius: 10px;
   margin-right: 100px;
   background-size:cover;
   background-repeat: no-repeat;
   
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust to fit your desired width */
}
#RES{
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
    color: #5827df;
    padding: 8px 25px;
    transform: translate(59%, 6%);
    background-color: rgb(94 255 0);
    text-align: center;
    width: 45%;
}
input{
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    width: 90%;    
    background-color: rgba(184, 229, 185, 0.942);
    border-radius: 5px;
    border: none;
}
button{
    height: 25px;
    width: 15%;
    margin-left: 45%;
    border-radius: 4px; 
    background-color: #ffcb1e;
     color:rgb(84, 44, 78);
     transition: background-color 0.3s;
     margin-top: 10px;
     font-size: 16px;

}
button:hover {
    background-color: #1c86ee;
}

.fa-user,  .fa-phone, .fa-envelope, .fa-lock{
display: flex;
align-items: start;

}  

/* #img{
   border: 1 px solid black;
   margin-top: 20px;
   
} */
img{
    height: 41.52rem;
    width: 35rem;
    margin-top: 2.1rem;
    border-radius: 10px;
    margin-left: 100px;
    display: block;
}
span{
    color: rgb(255, 0, 0);
    margin-left: 2rem;
}

